﻿@model IEnumerable<Foro.Models.Entities.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@foreach (var item in Model)
{
    <div class="alert alert-success">
        <p>
            <i> @Html.DisplayFor(modelItem => item.Categoria.Nombre)</i>
        </p>
        <p>
            <strong>@Html.DisplayFor(modelItem => item.Titulo)</strong>
        </p>
        <p>
            @Html.DisplayFor(modelItem => item.Contenido)
        </p>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = item.PostId }) |
            @Html.ActionLink("Details", "Details", new { id = item.PostId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.PostId }) |
            @Html.ActionLink("CreateComment", "CreateComment", new { postId = item.PostId }) |
            @Html.ActionLink("ViewComments", "ViewComments", new { postId = item.PostId })
        </p>
    </div>
}