﻿@model IEnumerable<Foro.Models.Entities.Comentario>

@{
    ViewBag.Title = "ViewComments";
}

<h2>ViewComments</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Texto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PostId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Texto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PostId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ComentarioId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ComentarioId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ComentarioId })
        </td>
    </tr>
}

</table>
